<a href="https://colab.research.google.com/github/AdrieneRossMacapagal/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#If Statement
a = 100
b= 100
if a<b:
  print("a is less than b")

In [ ]:
#Elif Statement
if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")

In [ ]:
if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")
else:
  print('a is equal to b')

a is equal to b

In [ ]:
#Short Hand If Statement
c = 10
d = 5
if c>d: print("c>d")

c>d

In [ ]:
#Short Hanf If.. Else Statement
print('c>d') if c>d else print('d>c')

c>d

In [ ]:
#And Statement
if 5>10 and 8>4:
  print("both sstatements are true")
else:
  print("one of the statements is false / both statements are not true")

one of the statements is false / both statements are not true

In [ ]:
#Or Statement
if 5>10 or 4>8:
  print('True')
else:
  print('False')

False

In [ ]:
#Bitwise operatior ^ (xor)
e = 4 #0100 in binary
f = 2 #0010 in binary
e^f

6

In [ ]:
#Nested If Statement
x = 41
if x>10:
  print("number is anove 10")
  if x>20:
    print("number is anove 20")
    if x>30:
      print("number is anove 30")
      if x>40:
        print("number is anove 40")
        if x>50:
          print("number is anove 50")
        else:
          print("number is less than 50")
    else:
      print("number is less than 40")

number is anove 10
number is anove 20
number is anove 30
number is anove 40
number is less than 50

In [3]:
# Application 1. Write a program that determines if the input age is qualified to vote or not.
# The qualifying age is 18 years old and above.
z = input("Enter your age: ")
if int(z)<18:
  print("You are too young to vote")
elif int(z)>=18:
  print("You are qualified to vote")

Enter your age: 17
You are too young to vote

In [4]:
# Application 2. Write a program that determines if the input number is Positive, Negative, or Zero.
y = input("Enter a number: ")
if int(y)>0:
  print("The number is Positive.")
elif int(y)<0:
  print("The number is Negative.")
elif int(y)==0:
  print("The number is Zero.")

Enter a number: 10
The number is Positive.

In [ ]:
#For Loop Statement
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for y in week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]
for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [ ]:
for x in "week":
  print(x)

w
e
e
k

In [ ]:
#range () function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,6+1):
  print(x)
#for x in range(2,6+1,1):
#print(x)

2
3
4
5
6

In [ ]:
adjective = ["red","big","tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
i = 1
while i<6:
  print(i)
  i+=1    #i = i + 1

1
2
3
4
5

In [ ]:
i = 1
while i<=6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [6]:
# Application 3. Using while loop and break statement, the ourput is only 3
w = 3
while w<=3:
  print(w)
  break

3