<a href="https://colab.research.google.com/github/AdrieneRossMacapagal/PLNG211-QC/blob/main/Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 5 > 2: 
  print("Five is greater than two!")

#this is a comment
print("Hello Caloocan")

Python Indentation

In [ ]:
#This is an example of python indentation

if 5 > 2: #<--------always a colon.
  print("Five is greater than two!")

Python Variable

In [ ]:
x = 1
a,b=0, -1
print(a)
a = 9
c = "Sally"
c = "Danny"
print(a)
print(c)
print(c)
c = "Maria"

In [ ]:
print(c)

Casting

In [ ]:
d = int(4)
print(d)
e = float(4)
print(e)

Tyoe () Function

In [23]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

Single Quote or Doubel Qoute

In [ ]:
f = "Maria"
print(f)
g = 'Ana'
print(g)

Multiple Variables

In [ ]:
x,y,z=4,5,6
print(x)
print(y)
print(z)

Single Value to Multiple Variables

In [ ]:
x = y = z = "Lilo"
print(x)
print(y)
print(z)

Output Variable using Print and +

In [ ]:
s = "Python is"
t = "enjoying"
print("Python is"+" "+t) #<----- lmao
print(s+' '+t)

Arithmetic

In [ ]:
x = 1
y = 2
sum = x+y
sum #<------ no need for print for arithmetic,
sum
sum
x #<-------- can retreive this way.
y
sum
print(x)
print(y)
print(sum) #<------added everything

#modulo division
l = 4%2
l #<-------can also be "print(l)""
print("4%2",l)
#floor division
k = 4 / 2
print("4/2=",k)

Assignment Operator

In [48]:
x = 1
x+=1 #spaces are not tolerated.
print(x)

2

Logical Operator

In [49]:
q = 1
r = 4
q>r and r==r #<-----Double Equal sign

False